################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GestureAuthoringTools/LabanEditor/vs2019/Labanotation.sln
/GestureAuthoringTools/LabanEditor/vs2019/Labanotation.pyproj
/GestureAuthoringTools/LabanEditor/vs2019/.vs/Labanotation/v16/.suo
/GestureAuthoringTools/LabanEditor/vs2019/.vs/Labanotation/v16
/GestureAuthoringTools/LabanEditor/vs2019
/GestureAuthoringTools/LabanEditor/src/settings.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/__init__.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/tool/__init__.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/tool/wavfilter.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/tool/kp_extractor.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/tool/cluster.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/tool/accessory.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/labanVisualization.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/labanProcessor.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/labanotation.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/algtotal.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/algparallel.pyc
/GestureAuthoringTools/LabanEditor/src/labanotation/algnaive.pyc
/GestureAuthoringTools/LabanEditor/src/kinect.pyc
/GestureAuthoringTools/LabanEditor/src/guiMenu/__init__.pyc
/GestureAuthoringTools/LabanEditor/src/guiMenu/guiMenu.pyc
/GestureAuthoringTools/LabanEditor/src/graphSkeleton/__init__.pyc
/GestureAuthoringTools/LabanEditor/src/graphSkeleton/graphSkeleton.pyc
/GestureAuthoringTools/LabanEditor/src/graphLaban/__init__.pyc
/GestureAuthoringTools/LabanEditor/src/graphLaban/scrollbar.pyc
/GestureAuthoringTools/LabanEditor/src/graphLaban/graphLaban.pyc
/GestureAuthoringTools/LabanEditor/src/graphFilter/__init__.pyc
/GestureAuthoringTools/LabanEditor/src/graphFilter/graphFilter.pyc
