<!DOCTYPE html>
<html lang="en">
<head>
    <title>MSRAbot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <script type="text/javascript" src="/static/js/libs/three.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/stats.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/dat.gui.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/Tween.js"></script>
    <script type="text/javascript" src="/static/js/libs/loaders/GLTFLoader.js"></script>

    <script type="text/javascript" src="/static/js/libs/controls/DragControls.js"></script>
    <script type="text/javascript" src="/static/js/libs/controls/OrbitControls.js"></script>
    <script type="text/javascript" src="/static/js/libs/controls/TransformControls.js"></script>

    <script>
        var dev_version = '' + Math.floor(Math.random() * 100);
        var js_files = ['utils', 'msrabot', 'labanotation', 'app_conversation'];
        for (var i = 0; i < js_files.length; i++) {
            document.write('<script src="/static/js/' + js_files[i] + '.js?rand=' + dev_version + '"\><\/script>');
        }
    </script>
</head>

<body style="touch-action: none;">
    <div>
        <main id="app" style="position:relative; width: 100%; height: 75%; top: 0px;"></main>
        <div id="chatbox" style="z-index:10001; position:absolute; bottom: 0px; width: 100%; height: 25%; overflow: scroll; background-color: #ffffff; " >
            <ul id="messages" style="font-family: Arial, sans-serif; font-size: 24px; color: #000; ">
                <li>Talk to MSRAbot!</li>
            </ul>
            <form action="" onsubmit="send_message(event)" id="form" style="display: block" >
                <input type="text" id="messageText" autocomplete="off" style="font-family: Arial, sans-serif; font-size: 24px;"/>
                <button id="sendform" style="font-family: Arial, sans-serif; font-size: 24px;">Send</button>
            </form>
            <button id="button_mic" style="font-family: Arial, sans-serif; font-size: 24px;">Start Mic</button>
        </div>
    </div>
    <div hidden , id="mic_enabled" , value="no"></div>

    <script>
        function generateSessionId() {
            var chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';
            var sessionId = '';
            for (var i = 0; i < 16; i++) {
              sessionId += chars.charAt(Math.floor(Math.random() * chars.length));
            }
            return sessionId;
          }
        var session_id = generateSessionId();
        var ws = new WebSocket('ws://localhost:9100/ws/'+session_id);
        function process_message(event) {
            console.log('message arrived');
            console.log(event.data)

            var messages = document.getElementById('messages');
            var message = document.createElement('li');
            var content = document.createTextNode(event.data);
            message.appendChild(content);
            //set the color of the message. If it is from MSRAbot, it is light blue, otherwise it is black
            if (event.data.startsWith('MSRAbot:')) {
                message.style.color = '#93BEE4';
            } else {
                message.style.color = '#000000';
            }
            messages.appendChild(message);
            var element = document.getElementById("chatbox");
            element.scrollTop = element.scrollHeight;
            if (event.data.startsWith('MSRAbot:')){
                switch_mic('off');
                var audio = new Audio('/static/audio/tmpaudio.mp3');
                audio.addEventListener('ended', function() {
                    switch_mic('on');
                  });
                audio.play();
                _app.loadNewFile('/static/laban/tmplaban.json');
                _app.labanotation.pausing = false;
            }
        }

        ws.onmessage = process_message;
        // no scrollbars
        document.body.style.overflow = 'hidden';
        run();
        //--------------------------------------------------------------------------------------------
        function run() {
            _app = new APP(document.getElementById('app'));
            if (_app) {
                _app.initialize('/static/laban/sample_away.json');
                animate();
            }
        }
        //--------------------------------------------------------------------------------------------
        function animate() {
            requestAnimationFrame(animate);

            _app.update();
            _app.render();
        }

        function switch_mic(status) {
            if (status=='on'){
                var toggleButton = document.getElementById('button_mic');
                toggleButton.disabled = false;
                if (toggleButton.textContent == 'Start Mic') {
                    document.getElementById("mic_enabled").setAttribute('value', 'no')
                } else {
                    document.getElementById("mic_enabled").setAttribute('value', 'yes')
                }
            }
            else {
                document.getElementById("mic_enabled").setAttribute('value', 'no')
                var toggleButton = document.getElementById('button_mic');
                toggleButton.disabled = true;
            }
        }
        const MAX_LENGTH = 50
        function send_message(event) {
            var input = document.getElementById("messageText");
            if (input.value) {
                console.log('message valid');
                if (input.value.length > MAX_LENGTH) {
                    ws.send(input.value.substr(0, MAX_LENGTH))
                } else {
                    console.log(input.value);
                    ws.send(input.value);
                }
            }
            input.value = ''
            event.preventDefault();
        }
    </script>
    <script>
        const recognition = new webkitSpeechRecognition();
        recognition.lang = 'en-US';
        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.onresult = function(event) {
          var interim_transcript = '';
          var final_transcript = '';

          for (var i = event.resultIndex; i < event.results.length; ++i) {
            if (event.results[i].isFinal) {
              final_transcript += event.results[i][0].transcript;
            } else {
              interim_transcript += event.results[i][0].transcript;
            }
          }
          console.log('Final transcript: ' + final_transcript);
          var is_mic_enabled = document.getElementById("mic_enabled").getAttribute('value')
          if (is_mic_enabled == 'yes'){
            var input = document.getElementById("messageText");
            input.value = final_transcript
            send_message()
          }
        };
  
        var isRecognizing = false;
        const toggleButton = document.getElementById('button_mic');
        toggleButton.addEventListener('click', () => {
          if (toggleButton.textContent == 'Start Mic') {
            document.getElementById("mic_enabled").setAttribute('value', 'yes')
            toggleButton.textContent = 'Stop Mic';
          } else if (toggleButton.textContent == 'Stop Mic'){
            document.getElementById("mic_enabled").setAttribute('value', 'no')
            toggleButton.textContent = 'Start Mic';
          } else {
            // error
            console.log('message valid');
          }
        });
        recognition.start();
    </script>
</body>
</html>
